<div class="cmmc-level-div">
    <p class="text-center">CMMC has 5 levels of certification.</p>

    <ul class="list-group">
        <li class="list-group-item"><span class="font-weight-bold">Level 1: </span> Basic cyber hygiene and processes are performed.</li>
        <li class="list-group-item"><span class="font-weight-bold">Level 2: </span> Intermediate cyber hygiene and processes are documented.</li>
        <li class="list-group-item"><span class="font-weight-bold">Level 3: </span> Good cyber hygiene and processes are managed.</li>
        <li class="list-group-item"><span class="font-weight-bold">Level 4: </span> Proactive cyber hygiene and processes are reviewed.</li>
        <li class="list-group-item"><span class="font-weight-bold">Level 5: </span> Advanced cyber hygiene and processes are continuously optimized.</li>
    </ul>
</div>

<div>
    <p class="text-center">At each level, a certain number of controls are required to be implemented. These controls can be grouped into 17 control families.</p>

    <ul class="list-group row version-container">
        <li class="list-group-item col-12 col-md-6 col-lg-3">Access Control</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Asset Management</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Audit &#38; Accountability</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Awareness &#38; Training</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Configuration Management</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">ID &#38; Authentication</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Incident Response</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Maintenance</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Media Protection</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Personnel Security</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Physical Protection</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Recovery</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Risk Management</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Security Assessment</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Situational Awareness</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">System &#38; Comms Protection</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">System &#38; Information Integrity</li>
    </ul>
</div>
