<div class="cmmc-level-div">
    <p class="text-center">FedRAMP authorized cloud service offerings (CSOs) at four impact levels</p>

    <ul class="list-group">
        <li class="list-group-item">Low</li>
        <li class="list-group-item">LI-SaaS</li>
        <li class="list-group-item">Moderate</li>
        <li class="list-group-item">High</li>
    </ul>
</div>

<div>
    <p class="text-center">At each level, a certain number of controls are required to be implemented. These controls can be grouped into 17 control families.</p>

    <ul class="list-group row version-container">
        <li class="list-group-item col-12 col-md-6 col-lg-3">Access Control</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Awareness and Training</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Audit and Accountability</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Security Assessment and Authorization</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Configuration Management</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Contingency Planning</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Identification and Authentication</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Incident Response</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Maintenance</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Media Protection</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Physical and Environmental Protection</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Planning</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Personnel Security</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">Risk Assessment</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">System and Services Acquisition</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">System and Communications Protection</li>
        <li class="list-group-item col-12 col-md-6 col-lg-3">System and Information Integrity</li>
    </ul>
</div>
