<div>
    <p class="text-center">The ISO27001 takes a risk-based approach to information security. Organizations are required to identify information security risks and select appropriate controls accordingly. Controls are grouped under domains to address different areas of information security risks:</p>

    <ul class="list-group">
        <li class="list-group-item">Information security policies</li>
        <li class="list-group-item">Organization of information security</li>
        <li class="list-group-item">Human resources security </li>
        <li class="list-group-item">Asset management </li>
        <li class="list-group-item">Access control</li>
        <li class="list-group-item">Cryptography </li>
        <li class="list-group-item">Physical and environmental security</li>
        <li class="list-group-item">Operational security</li>
        <li class="list-group-item">Communications security</li>
        <li class="list-group-item">System acquisition, development and maintenance </li>
        <li class="list-group-item">Supplier relationships </li>
        <li class="list-group-item">Information security incident management </li>
        <li class="list-group-item">Information security aspects of business continuity management</li>
        <li class="list-group-item">Compliance</li>
    </ul>
</div>


