<div class="cmmc-level-div">
    <p class="text-center">The PCI DSS covers 12 requirements that can be generally grouped into 6 major principles.</p>

    <ul class="list-group">
        <li class="list-group-item">Build and Maintain a Secure Network and Systems</li>
        <li class="list-group-item">Protect Cardholder Data</li>
        <li class="list-group-item">Maintain a Vulnerability Management Program</li>
        <li class="list-group-item">Implement Strong Access Control Measures</li>
        <li class="list-group-item">Regularly Monitor and Test Networks</li>
        <li class="list-group-item">Maintain an Information Security Policy</li>
    </ul>
</div>

<div>
    <p class="text-center">The 12 requirements are:</p>

    <ul class="list-group row version-container">
        <li class="list-group-item col-12">Install and maintain a firewall configuration to protect cardholder data</li>
        <li class="list-group-item col-12">Do not use vendor-supplied defaults for system passwords and other security parameters</li>
        <li class="list-group-item col-12">Protect stored cardholder data</li>
        <li class="list-group-item col-12">Encrypt transmission of cardholder data across open, public networks </li>
        <li class="list-group-item col-12">Use and regularly update anti-virus software or programs</li>
        <li class="list-group-item col-12">Develop and maintain secure systems and applications</li>
        <li class="list-group-item col-12">Restrict access to cardholder data by business need to know</li>
        <li class="list-group-item col-12">Assign a unique ID to each person with computer access</li>
        <li class="list-group-item col-12">Restrict physical access to cardholder data</li>
        <li class="list-group-item col-12">Track and monitor all access to network resources and cardholder data</li>
        <li class="list-group-item col-12">Regularly test security systems and processes</li>
        <li class="list-group-item col-12">Maintain a policy that addresses information security for all personnel</li>
    </ul>
</div>
