---
layout: default
title: Automated Data Intake for CMMC
meta: GRCHive's automated audit data intake solution can help your with audit engagements for the upcoming CMMC. Contact us to see how we can help!
permalink: /cmmc
canonicalUrl: https://www.grchive.com/cmmc
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive for CMMC"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_description="Looking to do audits for the DoD's upcoming CMMC? We can help."
    cta_text="Get me started!"
    cta_show_learn_more=true
%}

<h2 class="product-header">Cybersecurity Maturity Model Certification</h2>

{% include coming_soon.html %}
