---
layout: default
title: Automated Data Intake for FedRAMP
meta: GRCHive's automated audit data intake solution can help your with your next FedRAMP audit engagement. Contact us to see how we can help!
permalink: /fedramp
canonicalUrl: https://www.grchive.com/fedramp
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_subtitle="FedRAMP."
    cta_header_description="Have clients that provide services to the US federal government? Let us help you grab data from their systems to allow you to validate compliance with FedRAMP."
    cta_text="Get me started!"
    cta_show_learn_more=true
%}

<h2 class="product-header">FedRAMP</h2> 
{% include coming_soon.html %}
