---
layout: default
title: Automated Data Intake for FSA
meta: GRCHive's automated audit data intake solution can help your with your next FSA. Contact us to see how we can help!
permalink: /fsa
canonicalUrl: https://www.grchive.com/fsa
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive for Financial Statement Auditing"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_description="GRCHive can help you pull in the trial balances and journal entries you need for FSA."
    cta_text="Get me started!"
    cta_show_learn_more=true
%}

{% assign obj = site.data.frameworks["fsa"] %}
{% include framework_info.html
    data=obj
 %}
