---
layout: default
title: Automated Data Intake for HIPAA
meta: GRCHive's automated audit data intake solution can help your with your next HIPAA audit engagement. Contact us to see how we can help!
permalink: /hipaa
canonicalUrl: https://www.grchive.com/hipaa
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_subtitle="HIPAA."
    cta_header_description="Automatically collect data to ensure your clients have configured their IT systems correctly to securely store PII."
    cta_text="Get me started!"
    cta_show_learn_more=true
%}

<h2 class="product-header">HIPAA</h2>

{% include coming_soon.html %}
