---
layout: default
title: Automated Data Intake for SOX
meta: GRCHive's automated audit data intake solution can help your with your next SOX audit. Contact us to see how we can help!
permalink: /sox
canonicalUrl: https://www.grchive.com/sox
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive for SOX"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_description="GRCHive can help you pull in the trial balances and journal entries you need for SOX audits."
    cta_text="Get me started!"
    cta_show_learn_more=true
%}

<h2 class="product-header">Sarbanes-Oxley 404</h2>

{% include coming_soon.html %}
