---
layout: default
title: Our team can help your audit with automated data intake
meta: We're a multidisciplinary team of highly motivated auditors and software engineers who are looking to revolutinize the field of auditing with automation and machine intelligence. Contact us today to see how our automated data intake solution can save you time and money on your next audit engagement.
permalink: /team
---

<div id="team-div">
    <div>
        <h2 class="h1">Our Team</h2>
    </div>

    <div class="d-flex justify-content-center">
        {% for person in site.data.team %}

        {% include team_profile.html
            profile_name=person.name
            profile_role=person.role
            profile_image=person.image
         %}
        
        {% endfor %}
    </div>
</div>
