.cta-header-div {
    margin-bottom: 16px;
}

.cta-standalone .cta-header-div {
    text-align: center;
}

.cta-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.125rem;
    letter-spacing: normal;
}

.cta-subtitle {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: .0073529412em;
}

.cta-description {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    margin-bottom: 16px;
}

.cta-standalone {
    background-color: #0d47a1;
    height: 400px;
}

.cta-standalone-title {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: .0073529412em;
}
