
.cta-header-div {
    margin-bottom: 16px;
}

.cta-standalone .cta-header-div {
    text-align: center;
}

.cta-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.125rem;
    letter-spacing: normal;
    display: inline;
}

.cta-subtitle {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: .0073529412em;
    display: inline;
}

.cta-description {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    margin-bottom: 16px;
}

.cta-standalone {
    background-color: #0d47a1;
    height: 400px;
}

.cta-standalone-title {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: .0073529412em;
}

@media screen and (max-width: 576px) {
    .cta-title {
        font-size: 2rem;
    }
    
    .cta-standalone-title {
        font-size: 1.75rem;
    }

    .cta-subtitle {
        font-size: 1.5rem;
    }

    .cta-description {
        font-size: 1.2rem;
    }
}
