.grc-footer {
}

.footer-social {
}

.footer-nav {
}

.footer-div {
    min-height: 400px;
}

.footer-icon {
    margin-right: 16px;
    color: inherit;
}

.footer-nav-title {
    margin-bottom: 16px;
}

.footer-nav-link {
    margin-bottom: 16px;
}

.footer-nav-link a {
    color: #0d47a1;
    font-size: 0.9rem;
}

#footer-logo {
    margin-bottom: 16px;
}

.footer-text {
    margin-bottom: 0px;
    color: #BDBDBD;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .033333333em;
    line-height: 1.25rem;
}

.footer-copyright {
    text-align: end;
}

#footer-legal {
    background-color: #263238;
    min-height: 50px;
}

@media screen and (max-width: 768px) {
    .grc-footer {
        margin-top: 32px;
    }

    .footer-div {
        min-height: 0;
    }

    .footer-nav {
        display: none;
    }

    #footer-logo {
        display: flex;
        justify-content: center;
    }

    #footer-legal {
        margin-top: 32px;
    }

    .footer-social {
        display: flex;
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }
}
