.integration-info-section {
    min-height: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.integration-info-section:nth-child(2n) {
    background-color: #F4F4F4;
}

.integration-image {
    object-fit: scale-down;
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

.integration-love {
    margin-top: 16px;
}

.integration-plus {
    margin-left: 16px;
    margin-right: 16px;
}

.version-container {
    flex-direction: row !important;
}

.carousel-indicators.grchive {
    bottom: -50px;
}

.carousel-indicators.grchive li {
    background-color: #000; 
}

.carousel-control-next-icon.grchive {
    filter: invert(1);
}

.carousel-control-prev-icon.grchive {
    filter: invert(1);
}

.integration-table-image {
    object-fit: scale-down;
    width: 75px;
    height: 75x;
    margin-right: 16px;
}

@media screen and (max-width: 576px) {
    .integration-plus {
        display: none !important;
    }
}
