#mainContent {
    box-shadow: 0px 0px 20px 1px rgba(143,143,143,1);
    padding: 0 !important;
}

.expand {
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 0;
}

.jumbotron .overlay {
    padding: inherit;
    left: 0;
    top: 0;
}

.over-overlay {
    z-index: 1;
}

.brand-navbar-logo {
    max-height: 40px;
    max-width: 254px;
    height: 40px;
}

.grc-nav-link {
    color: inherit;
}

.grc-nav-link:hover {
    color: #007bff !important;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.grc-btn-lg {
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.coming-soon-img {
    width: 250px;
    max-width: 250px;
    margin-bottom: 16px;
}

.grc-nav-bar {
}

@media screen and (max-width: 576px) {
    .grc-nav-bar {
        justify-content: center !important;
    }

    .navbar-brand {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }
}
