.service-caption {
    font-weight: 700;
}

.service-image-div {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-image {
    object-fit: scale-down;
    width: 200px;
    height: 200px;
}

.service-image-small {
    object-fit: scale-down;
    width: 100px;
    height: 100px;
}
