<div class="cta-standalone row justify-content-center align-content-center text-white over-overlay">
    <div class="col-10">
        <div class="cta-header-div">
            <span class="cta-standalone-title">{{ include.cta_title }}</span>
        </div>

        <div class="d-flex justify-content-center">
            <button
                type="button"
                class="grc-btn-lg btn btn-success first-button"
                data-toggle="modal"
                data-target="#interest-form"
                data-backdrop="static"
            >
                {{ include.cta_text }}
            </button>
        </div>
    </div>
</div>
