<div
    class="jumbotron card card-image"
    style="background-image: url({{ include.cta_header_image }});"
>
    <div class="expand overlay"></div>

    <div class="row justify-content-center text-white over-overlay">
        <div class="col-8">
            <div class="cta-header-div">
                <h1 class="cta-title">{{ include.cta_header_title }}.</h1>
                <h2 class="cta-subtitle">
                    {{ include.cta_header_subtitle }}
                </h2>
            </div>

            <div class="cta-description">
                {{ include.cta_header_description }}
            </div>

            <div>
                <button
                    type="button"
                    class="grc-btn-lg btn btn-success first-button"
                    data-toggle="modal"
                    data-target="#interest-form"
                    data-backdrop="static"
                >
                    {{ include.cta_text }}
                </button>

                {% if include.cta_show_learn_more %}
                    <a class="grc-btn-lg btn btn-info" href="/product">
                        Learn More
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
