<div class="container-fluid">
    <h2 class="product-header">{{ include.data.fullName }}</h2>

    <div class="row justify-content-center integration-info-section">
        <div class="col-8">
            <h3 class="text-center">What is {{ include.data.shortName }}?</h3>
            <p class="text-center">{{ include.data.description }}</p>
        </div>
    </div>

    <div class="row justify-content-center integration-info-section alt">
        <div class="col-8">
            <h3 class="text-center">General Structure</h3>
            {{ include.data.structure }}
        </div>
    </div>

    <div class="row justify-content-center integration-info-section">
        <div class="col-8">
            <h3 class="text-center">Common Use Cases</h3>
            {% include use_cases.html
                cases=include.data.useCases
             %}
        </div>
    </div>

    <div class="row justify-content-center integration-info-section alt">
        <div class="col-8">
            <h3 class="text-center">Relevant Integrations</h3>
            {% include relevant_integrations.html
                integrations=include.data.integrations
             %}

            <div class="d-flex justify-content-center">
                <a
                    class="grc-btn-lg btn btn-primary"
                    href="/integrations"
                    title="View All Integrations"
                >
                    View All Integrations
                </a>
            </div>
        </div>
    </div>

    <div>
        {% assign cta_title = "Need automated audit data intake for your next " | append: include.data.shortName | append: " engagement?" %}
        {% include cta_standalone.html
           cta_title=cta_title
           cta_text="Request Demo"
        %}
    </div>

</div>
