<div class="row justify-content-center info-div">
    <div class="col-10 col-md-7 col-lg-5 {% if include.ltr %}order-first{% else %}order-last{% endif %}">
        <h3 class="info-title">
            {{ include.info_header }}
        </h3>
        <p class="info-description">
            {{ include.info_text }}
        </p>

        {% if include.cta_extra_action %}
        <a
            class="info-cta"
            href="{{ include.cta_url }}"
            title="{{ include.cta_extra_action }}"
        >
            {{ include.cta_extra_action }}
            <i class="fas fa-chevron-right"></i>
        </a>
        {% endif %}
    </div>

    <div class="col-10 col-md-3 col-lg-5 {% if include.ltr %}order-last{% else %}order-first{% endif %}">
        <div class="info-image-wrapper">
            <img
                class="info-image"
                src="{{ include.info_image }}"
                alt="{{ include.info_header }}"
            >
            </img>
        </div>
    </div>
</div>
