<div class="blog-posts-div">
    <h2 class="product-header">Featured Blog Posts</h2>

    <div class="d-flex justify-content-center">
        {% for blog in site.data.blog %}
            <div class="blog-div">
                <a
                    class="blog-link text-center"
                    href="{{ blog.url }}"
                    title="{{ blog.name }}"
                >
                    <img
                        src="{{ blog.image }}"
                        class="blog-image"
                        alt="{{ blog.name }}"
                    >
                    </img>

                    <p>{{ blog.name }}</p>
                </a>

            </div>
        {% endfor %}
    </div>
</div>
