---
layout: default
title: Automated Audit Data Intake for Office 365
meta: GRCHive's automated audit data intake solution can help you to automatically obtain data from Office 365. Contact us to see how we can help!
permalink: /integrations/office365
canonicalUrl: https://www.grchive.com/integrations/office365
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive for Office 365"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_description="We can help by automatically pulling in all relevant audit data from G Suite. Say goodbye to chasing after incomplete or incorrect PBCs. Don't worry about dealing with REST APIs, let us handle that."
    cta_text="I need this!"
    cta_show_learn_more=true
%}


{% assign obj = site.data.integration_info["office365"] %}
{% include integration_info.html 
    data=obj
%}
