---
layout: default
title: Automated Audit Data Intake for Okta
meta: GRCHive's automated audit data intake solution can help you to automatically obtain data from Okta. Contact us to see how we can help!
permalink: /integrations/okta
canonicalUrl: https://www.grchive.com/integrations/okta
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive for Okta"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_description="We can help by automatically pulling in all relevant audit data from Okta. Say goodbye to chasing after incomplete or incorrect PBCs. Don't worry about dealing with REST APIs, let us handle that."
    cta_text="I need this!"
    cta_show_learn_more=true
%}

{% assign obj = site.data.integration_info["okta"] %}
{% include integration_info.html 
    data=obj
%}
