---
layout: default
title: Automated Audit Data Intake for PostgreSQL
meta: GRCHive's automated audit data intake solution can help you to automatically obtain data from a PostgreSQL database. Contact us to see how we can help!
permalink: /integrations/postgresql
canonicalUrl: https://www.grchive.com/integrations/postgresql
---

{% include cta.html %}
{% include cta_header.html
    cta_header_title="GRCHive for PostgreSQL"
    cta_header_image="/assets/images/generic-banner2.jpg"
    cta_header_description="Do you need to do a user access review? We can help by automatically pulling in all relevant PostgreSQL roles and grants. Say goodbye to hand-crafting SQL statements to obtain the data you need. Let us handle that."
    cta_text="I need this!"
    cta_show_learn_more=true
%}


{% assign obj = site.data.integration_info["postgresql"] %}
{% include integration_info.html 
    data=obj
%}
